<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf147.dao.AreaMapper">
  <resultMap id="BaseResultMap" type="com.nf147.entity.Area">
    <id column="AreaID" jdbcType="VARCHAR" property="areaID" />
    <result column="AreaName" jdbcType="VARCHAR" property="areaName" />
    <result column="CityID" jdbcType="VARCHAR" property="cityID" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from area
    where AreaID = #{areaID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.nf147.entity.Area">
    insert into area (AreaID, AreaName, CityID
      )
    values (#{areaID,jdbcType=VARCHAR}, #{areaName,jdbcType=VARCHAR}, #{cityID,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nf147.entity.Area">
    update area
    set AreaName = #{areaName,jdbcType=VARCHAR},
      CityID = #{cityID,jdbcType=VARCHAR}
    where AreaID = #{areaID,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select AreaID, AreaName, CityID
    from area
    where AreaID = #{areaID,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select AreaID, AreaName, CityID
    from area
  </select>
</mapper>