<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf147.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.nf147.entity.User">
    <id column="UserID" jdbcType="VARCHAR" property="userID" />
    <result column="UserName" jdbcType="VARCHAR" property="userName" />
    <result column="UserNotes" jdbcType="VARCHAR" property="userNotes" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where UserID = #{userID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.nf147.entity.User">
    insert into user (UserID, UserName, UserNotes
      )
    values (#{userID,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userNotes,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nf147.entity.User">
    update user
    set UserName = #{userName,jdbcType=VARCHAR},
      UserNotes = #{userNotes,jdbcType=VARCHAR}
    where UserID = #{userID,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select UserID, UserName, UserNotes
    from user
    where UserID = #{userID,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select UserID, UserName, UserNotes
    from user
  </select>
</mapper>